In [1]:
import pandas as pd

In [2]:
#create a dataframe that store and study the balances

df = pd.read_json('./my_balances.json')
df

      asset      free  locked
0       BTC  0.000000       0
1       LTC  0.000000       0
2       ETH  0.000000       0
3       NEO  0.000000       0
4       BNB  0.018723       0
..      ...       ...     ...
401     CFX  0.000000       0
402     TKO  0.000000       0
403    AUTO  0.000000       0
404     EPS  0.000000       0
405  PUNDIX  0.000000       0

[406 rows x 3 columns]

In [5]:
type(df['free'])

pandas.core.series.Series

In [7]:
df.sort_values('free',ascending= False, inplace= True)
df

      asset      free  locked
4       BNB  0.018723       0
13      OAX  0.000000       0
3       NEO  0.000000       0
5      QTUM  0.000000       0
6       EOS  0.000000       0
..      ...       ...     ...
403    AUTO  0.000000       0
404     EPS  0.000000       0
383     FXS  0.000000       0
382     SFP  0.000000       0
405  PUNDIX  0.000000       0

[406 rows x 3 columns]

In [13]:
df

      asset      free  locked
4       BNB  0.018723       0
13      OAX  0.000000       0
3       NEO  0.000000       0
5      QTUM  0.000000       0
6       EOS  0.000000       0
..      ...       ...     ...
403    AUTO  0.000000       0
404     EPS  0.000000       0
383     FXS  0.000000       0
382     SFP  0.000000       0
405  PUNDIX  0.000000       0

[406 rows x 3 columns]