In [2]:
import numpy as np
import pandas as pd
from binance.client import Client
from binance.enums import *
import math
import datetime
import time
import json
import random
from tools import *


apikey='eKDyjsVeMhssfXL89oil2keouZSfpnJwqJV3mfvApOYDylfUjGc6hKAtapQIHL3b'
secretkey='hISw2v7P96RXq698sIQVUGHfhX3Jt8aqh9FOlURGfXFwelYKq1R5oPfUbfWtD9lo'

disconnected = True
while disconnected:
    try :
        client = Client(apikey,secretkey)
        print("vous etes connecter\n")
        disconnected = False
        connected = True
    except:
        print("impossible de se connecter\nveuillez patientez\n")
#-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

vous etes connecter

In [3]:
margin_balance_of('BTC')

0.0003

In [4]:
def get_klines(coin_to_trade:str):
    getKlines = False
    while not getKlines:
        try:
            klines_15min = client.get_historical_klines(coin_to_trade, Client.KLINE_INTERVAL_15MINUTE, "1 day ago UTC")
            getKlines = True
        except:
            pass
    up_trend = False
    try:
        #changer timestamp en date
        for kline in klines_15min:
            kline[0] = datetime.datetime.fromtimestamp(kline[0] / 1e3)

        klines = pd.DataFrame(klines_15min)#changer en dataframe
        klines.drop(columns=[1,2,3,5,6,7,8,9,10,11],inplace= True)#supprimer les collonnes qui ne sont pas necessaires
        klines.columns = ['open_time','close_price']#renommer les colonnes

        #creer un SMA_30
        klines['SMA_30'] = klines.iloc[:,1].rolling(window=30).mean()

        #creer un SMA50
        klines['SMA_50'] = klines.iloc[:,1].rolling(window=50).mean()

        #trier les indexes pour que 0 correspondents avec maintenant
        klines.sort_index(ascending=False,inplace=True)

        #refaire les index
        klines.reset_index(inplace = True)

        #supprimer un colonnes pas important
        klines.drop(columns=['index'],inplace=True)
    except:
        get_klines(coin_to_trade)

    return klines

In [5]:
a= get_klines('BNBBTC')

             open_time close_price    SMA_30    SMA_50
0  2021-04-30 21:45:00  0.01099600  0.010870  0.011032
1  2021-04-30 21:30:00  0.01100300  0.010875  0.011038
2  2021-04-30 21:15:00  0.01095700  0.010880  0.011046
3  2021-04-30 21:00:00  0.01097600  0.010885  0.011054
4  2021-04-30 20:45:00  0.01100400  0.010893  0.011061
..                 ...         ...       ...       ...
91 2021-04-29 23:00:00  0.01102100       NaN       NaN
92 2021-04-29 22:45:00  0.01099100       NaN       NaN
93 2021-04-29 22:30:00  0.01098100       NaN       NaN
94 2021-04-29 22:15:00  0.01097800       NaN       NaN
95 2021-04-29 22:00:00  0.01095300       NaN       NaN

[96 rows x 4 columns]