In [1]:
from tools import *

vous etes connecter

In [2]:
kline = get_klines('ETHBTC','5m','1 day')

In [3]:
kline

,open_time,open_price,close_price,SMA_30,SMA_50,SMA_20,upper_band,lower_band
0,2021-05-02 13:20:00,0.05141200,0.05141700,0.051384,0.051253,0.051355,0.051524,0.051187
1,2021-05-02 13:15:00,0.05142000,0.05141800,0.051373,0.051236,0.051341,0.051534,0.051149
2,2021-05-02 13:10:00,0.05146300,0.05142000,0.051369,0.051217,0.051328,0.051533,0.051124
3,2021-05-02 13:05:00,0.05146900,0.05146000,0.051364,0.051198,0.051314,0.051520,0.051107
4,2021-05-02 13:00:00,0.05146900,0.05146800,0.051347,0.051176,0.051300,0.051499,0.051101
...,...,...,...,...,...,...,...,...
283,2021-05-01 13:45:00,0.04946800,0.04949200,NaN,NaN,NaN,NaN,NaN
284,2021-05-01 13:40:00,0.04955800,0.04946700,NaN,NaN,NaN,NaN,NaN
285,2021-05-01 13:35:00,0.04955600,0.04955800,NaN,NaN,NaN,NaN,NaN
286,2021-05-01 13:30:00,0.04956000,0.04954700,NaN,NaN,NaN,NaN,NaN
287,2021-05-01 13:25:00,0.04953800,0.04955900,NaN,NaN,NaN,NaN,NaN