In [23]:
import pandas as pd

In [24]:
kline = pd.read_csv("files/klines.csv")

In [25]:
kline.drop(columns='Unnamed: 0', inplace=True)

In [28]:
kline

,open_time,open_price,close_price,SMA_30,SMA_50,SMA_20,upper_band,lower_band
0,2021-06-06 17:28:00,36154.49,36159.99,36187.207333,36193.853333,36190.9210,36242.628442,36139.213558
1,2021-06-06 17:27:00,36148.46,36153.83,36189.427333,36192.778333,36195.2545,36248.607422,36141.901578
2,2021-06-06 17:26:00,36209.07,36148.39,36192.466000,36191.156000,36200.3240,36254.220557,36146.427443
3,2021-06-06 17:25:00,36182.47,36209.08,36190.966667,36188.624667,36203.7160,36267.552624,36139.879376
4,2021-06-06 17:24:00,36197.63,36182.47,36192.077333,36188.262000,36209.8955,36287.512605,36132.278395
...,...,...,...,...,...,...,...,...
2875,2021-06-04 17:33:00,36891.59,36872.82,NaN,NaN,NaN,NaN,NaN
2876,2021-06-04 17:32:00,36882.48,36890.45,NaN,NaN,NaN,NaN,NaN
2877,2021-06-04 17:31:00,36820.50,36880.89,NaN,NaN,NaN,NaN,NaN
2878,2021-06-04 17:30:00,36815.00,36820.50,NaN,NaN,NaN,NaN,NaN
2879,2021-06-04 17:29:00,36793.40,36815.00,NaN,NaN,NaN,NaN,NaN

In [27]:
kline.iloc[:, 1].rolling(window=20)

Rolling [window=20,center=False,axis=0]