In [1]:
from tools import *

impossible de se connecter
veuillez patientez

impossible de se connecter
veuillez patientez

vous etes connecter

In [2]:
kline = get_klines('ETHBTC','5m','1 day')

In [3]:
kline

,open_time,close_price,SMA_30,SMA_50,SMA_20,upper_band,lower_band
0,2021-05-02 11:50:00,0.05126100,0.051057,0.051041,0.051024,0.051294,0.050753
1,2021-05-02 11:45:00,0.05122200,0.051032,0.051030,0.051011,0.051257,0.050765
2,2021-05-02 11:40:00,0.05113400,0.051005,0.051021,0.051000,0.051226,0.050775
3,2021-05-02 11:35:00,0.05113500,0.050992,0.051021,0.050993,0.051209,0.050777
4,2021-05-02 11:30:00,0.05115700,0.050983,0.051022,0.050991,0.051201,0.050780
...,...,...,...,...,...,...,...
283,2021-05-01 12:15:00,0.04930500,NaN,NaN,NaN,NaN,NaN
284,2021-05-01 12:10:00,0.04927500,NaN,NaN,NaN,NaN,NaN
285,2021-05-01 12:05:00,0.04927300,NaN,NaN,NaN,NaN,NaN
286,2021-05-01 12:00:00,0.04930900,NaN,NaN,NaN,NaN,NaN
287,2021-05-01 11:55:00,0.04927800,NaN,NaN,NaN,NaN,NaN