In [1]:
import pandas as pd
import btalib
from tools import KLINEPATH,BINANCEKLINES

from BinanceApi import Binance

In [2]:
user=Binance()

erreur de connexion

In [3]:
user.get_klines(coin_to_trade="BTCUSDT")

2
3

In [4]:
x= pd.read_csv(BINANCEKLINES,index_col='date')

In [5]:
x

                         open      high       low     close       volume
date
2021-07-24 18:45:00  34251.60  34444.00  34250.60  34423.48  1302.925397
2021-07-24 19:00:00  34423.49  34500.00  34331.87  34410.57  1185.462031
2021-07-24 19:15:00  34413.00  34446.24  34275.24  34289.58   732.593251
2021-07-24 19:30:00  34289.58  34361.55  34185.53  34202.66   501.405218
2021-07-24 19:45:00  34202.67  34334.17  34185.46  34300.02   587.622549
...                       ...       ...       ...       ...          ...
2021-07-26 17:30:00  38389.22  38644.40  38389.22  38618.99  1157.252534
2021-07-26 17:45:00  38618.99  38675.11  38500.01  38562.21   757.662782
2021-07-26 18:00:00  38562.21  38860.00  38492.31  38841.02  1338.443771
2021-07-26 18:15:00  38841.02  39333.67  38627.46  39300.00  2607.263333
2021-07-26 18:30:00  39300.17  39337.92  39061.55  39200.13   385.458040

[192 rows x 5 columns]

In [6]:
print("MACD = ",btalib.macd.params,"\n")
print("SMA = ",btalib.sma.params,"\n")
print("BB = ",btalib.bbands.params,"\n")
print("stochastic = ",btalib.stochastic.params,"\n")
print("rsi = ",btalib.rsi.params,"\n")

MACD =  {'pfast': 12, 'pslow': 26, 'psignal': 9, '_ma': <class 'btalib.indicators.ema.ema'>, '_masig': None}

SMA =  {'period': 30}

BB =  {'period': 20, 'devs': 2.0, '_ma': <class 'btalib.indicators.sma.sma'>, '_stdev': <class 'btalib.indicators.stddev.stddev'>}

stochastic =  {'period': 14, 'pfast': 3, '_ma': <class 'btalib.indicators.sma.sma'>, 'pslow': 3, '_maslow': None}

rsi =  {'period': 14, 'lookback': 1, '_ma': <class 'btalib.indicators.smma.smma'>}

In [7]:
macd = btalib.sma(x)
macd.df

                              sma
date
2021-07-24 18:45:00           NaN
2021-07-24 19:00:00           NaN
2021-07-24 19:15:00           NaN
2021-07-24 19:30:00           NaN
2021-07-24 19:45:00           NaN
...                           ...
2021-07-26 17:30:00  38356.815667
2021-07-26 17:45:00  38374.461000
2021-07-26 18:00:00  38401.422667
2021-07-26 18:15:00  38438.275667
2021-07-26 18:30:00  38470.748667

[192 rows x 1 columns]

In [8]:
y=x.append(macd.df)

y.to_csv(KLINEPATH,na_rep=0)
y = pd.read_csv(KLINEPATH,index_col='date')

In [9]:
y.last_valid_index()

'2021-07-26 18:30:00'

In [10]:
y

,open,high,low,close,volume,sma
date,,,,,,
2021-07-24 18:45:00,34251.60,34444.00,34250.60,34423.48,1302.925397,0.000000
2021-07-24 19:00:00,34423.49,34500.00,34331.87,34410.57,1185.462031,0.000000
2021-07-24 19:15:00,34413.00,34446.24,34275.24,34289.58,732.593251,0.000000
2021-07-24 19:30:00,34289.58,34361.55,34185.53,34202.66,501.405218,0.000000
2021-07-24 19:45:00,34202.67,34334.17,34185.46,34300.02,587.622549,0.000000
...,...,...,...,...,...,...
2021-07-26 17:30:00,0.00,0.00,0.00,0.00,0.000000,38356.815667
2021-07-26 17:45:00,0.00,0.00,0.00,0.00,0.000000,38374.461000
2021-07-26 18:00:00,0.00,0.00,0.00,0.00,0.000000,38401.422667
2021-07-26 18:15:00,0.00,0.00,0.00,0.00,0.000000,38438.275667
2021-07-26 18:30:00,0.00,0.00,0.00,0.00,0.000000,38470.748667

date
2021-07-24 18:15:00    0.0
2021-07-24 18:30:00    0.0
2021-07-24 18:45:00    0.0
2021-07-24 19:00:00    0.0
2021-07-24 19:15:00    0.0
                      ...
2021-07-25 09:15:00    0.0
2021-07-25 09:30:00    0.0
2021-07-25 09:45:00    0.0
2021-07-25 10:00:00    0.0
2021-07-25 10:15:00    0.0
Name: sma, Length: 65, dtype: float64

In [72]:
price =[xx for xx in x['close'] ]
price.reverse()

In [73]:
price

[39200.13,
 39300.0,
 38841.02,
 38562.21,
 38618.99,
 38389.22,
 38303.92,
 38316.84,
 38222.98,
 38424.01,
 38439.51,
 38322.43,
 38278.06,
 38296.48,
 37952.31,
 38643.61,
 38766.07,
 38699.3,
 38528.51,
 38473.61,
 38474.3,
 38473.98,
 38540.0,
 38613.36,
 38374.31,
 38179.11,
 38267.64,
 38206.45,
 38122.11,
 38291.99,
 38225.94,
 38194.41,
 38032.17,
 38032.85,
 37916.74,
 38150.0,
 38044.73,
 38650.17,
 38766.33,
 38622.24,
 38925.06,
 39069.76,
 38644.34,
 38568.92,
 38458.05,
 38426.78,
 38322.48,
 38270.26,
 38492.82,
 38320.0,
 38316.34,
 38283.98,
 38205.14,
 38123.6,
 38094.01,
 38043.69,
 38411.94,
 38282.01,
 38031.45,
 38313.4,
 38575.33,
 37961.88,
 37997.57,
 36767.47,
 35813.43,
 35733.65,
 35803.62,
 35381.02,
 35205.65,
 34883.11,
 34652.56,
 34656.78,
 34556.71,
 34489.97,
 34524.43,
 34551.0,
 34575.13,
 34536.24,
 34428.0,
 34446.01,
 34422.3,
 34395.57,
 34425.05,
 34353.25,
 34441.68,
 34418.49,
 34296.38,
 34407.13,
 34410.12,
 34455.73,
 34476.93,
 34460.0,
 34390.52,
 34447.12,
 34279.98,
 34214.28,
 34147.61,
 34173.73,
 34132.46,
 34174.08,
 34173.33,
 34029.69,
 34175.64,
 34105.01,
 33947.32,
 33899.82,
 34050.01,
 34178.74,
 34165.06,
 34099.97,
 34237.8,
 34294.43,
 34260.07,
 34323.8,
 34316.2,
 34399.04,
 34388.29,
 34310.0,
 34460.0,
 34353.56,
 34393.98,
 34522.65,
 34575.89,
 34509.03,
 34410.17,
 34429.95,
 34515.24,
 34570.89,
 34599.99,
 34711.28,
 34760.45,
 34695.51,
 34756.3,
 34661.21,
 34600.48,
 34472.15,
 34458.46,
 34405.62,
 34426.23,
 34322.31,
 34334.98,
 34321.16,
 34407.22,
 34365.99,
 34420.56,
 34265.16,
 34179.99,
 34160.85,
 34208.67,
 34310.57,
 34292.37,
 34177.85,
 34091.39,
 34104.01,
 33999.0,
 33924.85,
 34031.05,
 33987.52,
 34113.3,
 34014.08,
 34018.18,
 34199.98,
 34387.23,
 34258.14,
 34135.95,
 34052.37,
 33939.82,
 34021.87,
 33989.49,
 33903.64,
 33952.23,
 34096.66,
 33957.45,
 33875.33,
 33922.63,
 33919.84,
 33848.98,
 33786.3,
 33915.0,
 33846.16,
 33997.73,
 34109.97,
 34253.64,
 34281.87,
 34327.46,
 34322.79,
 34378.56,
 34300.02,
 34202.66,
 34289.58,
 34410.57,
 34423.48]