In [1]:
import sys

import numpy as np
import pandas as pd

from tools import BINANCEKLINES, KLINEPATH
sys.path.append("..")
from Indicators.sma import Sma
from Indicators.rsi import Rsi
from Indicators.bb import Bollingerbands

In [2]:
smaInd = Sma()
rsiInd = Rsi()
bbInd = Bollingerbands()

decisions = []

In [3]:
smaDecision = smaInd.priceStudy(30)
rsiDecision = rsiInd.priceStudy()
bbDecision = bbInd.priceStudy()

In [4]:
decisions = [smaDecision,rsiDecision,bbDecision]

In [5]:
decisions

['buy', 'sell', 'buy']

In [6]:
print(rsiInd.rsiMean,rsiInd.priceMean)

68.13643611051116 39728.54777777778

In [8]:
rsiInd.klines()

                            mid           top           bot
date
2021-07-24 21:45:00      0.0000      0.000000      0.000000
2021-07-24 22:00:00      0.0000      0.000000      0.000000
2021-07-24 22:15:00      0.0000      0.000000      0.000000
2021-07-24 22:30:00      0.0000      0.000000      0.000000
2021-07-24 22:45:00      0.0000      0.000000      0.000000
...                         ...           ...           ...
2021-07-26 20:30:00  38877.1540  39846.498956  37907.809044
2021-07-26 20:45:00  38946.4905  39945.140838  37947.840162
2021-07-26 21:00:00  39036.1710  40151.881257  37920.460743
2021-07-26 21:15:00  39129.2295  40332.236698  37926.222302
2021-07-26 21:30:00  39209.6480  40373.991070  38045.304930

[192 rows x 3 columns]

In [2]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
                host='localhost',
                user='root',
                passwd='Pl@isir6',
                database='bot'
            )

In [4]:
mycursor = mydb.cursor()
mycursor.execute("select quantity from Balance where coinName = 'DOGE'")

In [5]:
resulta = mycursor.fetchall()

In [1]:
z=['buy','buy','buy']

In [4]:
import random

In [127]:
random.randint(0,9)

1